
<div class=" ui-view-container well  ">

<div class="panel panel-info">
  <div class="panel-heading">  <h3><strong>Resources</strong></h3></div>
  <div class="panel-body">


    

<!--         <label>domain</label> -->
<!--     <select class= "Select" ng-model="domain"> -->
<!--         <option value=''>all</option> -->
<!--         <option value='iz'>iz(Immunization Information System Reporting)</option> -->
<!--         <option value='ss'>ss</option> -->

<!--   <div style="float : right; margin-right : 100px;" class="input-group col-md-2"> -->
<!--   <span class="input-group-addon" id="basic-addon1"> -->
<!--   <span class="glyphicon glyphicon-search" aria-hidden="true" ></span> -->
<!--   <input type= "text" ng-model ="sort.title" class="form-control"></input> -->
<!-- </div> -->
    
        
<!--         <uib-accordion> -->
<!--             <uib-accordion-group  ng-repeat= "artifact in artifacts | filter : domain |filter :sort" heading={{artifact.title}}> -->
<!--                 <table class="table table-hover"> -->
<!--                     <thead> -->
<!--                         <tr> -->
<!--                             <th>profile</th> -->
<!--                             <th>value_set</th> -->
<!--                             <th>constraints</th> -->
<!--                             <th>standard version</th> -->
<!--                         </tr> -->
<!--                     </thead> -->
<!--                     <tbody> -->
<!--                         <tr> -->
<!--                            <td class="getLogo"> -->
<!--                                 <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}/{{artifact.title}}_Profile.xml"><img src="resources/static/images/get.png"></a> -->
<!--                             </td> -->
<!--                             <td class="getLogo"> -->
<!--                                 <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}/{{artifact.title}}_ValueSetLibrary.xml"><img src="resources/static/images/get.png"></a> -->
<!--                             </td> -->
<!--                             <td class="getLogo"> -->
<!--                                 <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}/{{artifact.title}}_Constraints.xml"><img src="resources/static/images/get.png"></a> -->
<!--                             </td> -->
<!--                             <td> -->
<!--                                 {{artifact.standardVersion}} -->
<!--                             </td> -->
<!--                         </tr> -->
                        
<!--                     </tbody> -->
<!--                 </table> -->
           
<!--         </uib-accordion> -->
  
<!--   </div> -->
         <label>domain</label>
    	<select class= "Select" ng-model="domain.domain">
        <option value=''>all</option>
        <option value='iz'>iz(Immunization Information System Reporting)</option>
        <option value='ss'>ss(Syndromic Surveillance )</option>
        <option value='lri'>lri(Laboratory Results Interface )</option>
        <option value='elr'>elr(Electronic Laboratory Reporting)</option>
        
        
        </select>
        <br/>
          <br/>
          <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">PROFILES</h3>
  </div>
  
      <div class="panel-body">
  
<div class="panel panel-warning" ng-repeat="ig in IGs">
  <div class="panel-heading">
       <h3 class="panel-title">{{ig.name}}</h3>
  </div>


  

        
        
     
  <div class="panel-body">
  
  <div ng-show="panelEmty(ig)"> <span style="font-size:20px; color: red;">No profile corresponding to the {{domain.domain}} domain</span></div>

        <br/>
         <uib-accordion >
            <uib-accordion-group  ng-repeat= "artifact in ig.profiles | filter : domain |filter :sort" is-open="artifact.open">
            <uib-accordion-heading>
            
           
            <div class=row>
            <div class= "col-md-6">   <i class="glyphicon" ng-class="{'glyphicon-chevron-down': artifact.open, 'glyphicon-chevron-right': !artifact.open}"> </i>  <strong>{{artifact.title}}   </strong> </div>
              <div class= "col-md-6" style=" color:black;font-size:12px;">    <strong> {{artifact.spec}}   </strong></div>
            </div>
<!--         <strong>{{artifact.title}}   </strong>                            <span style="float: right;"> {{artifact.spec}}</span> -->
        
        

                    
      </uib-accordion-heading>
            
             <div ng-show="compareToDomainss(artifact.domain)==false " > 
             
             <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}.zip">  <button title="Download All" type="button" class="btn btn-sm btn-info ng-binding ng-scope">
                        <i class="fa fa-download"></i>
                        Download All Artifacts (.zip)
                    </button></a> 
                
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Value_set</th>
                            <th>Constraints</th>
                      
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <td class="getLogo">
                                <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}/{{artifact.title}}_Profile.xml" target="_blank"><img src="resources/static/images/get.png"/> {{artifact.title}}_Profile.xml</a>
                            </td>
                            <td class="getLogo">
                                <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}/{{artifact.title}}_ValueSetLibrary.xml" target="_blank"><img src="resources/static/images/get.png"/> {{artifact.title}}_ValueSetLibrary.xml</a>
                            </td>
                            <td class="getLogo">
                                <a href="resources/static/Artifact/{{artifact.domain}}/{{artifact.title}}/{{artifact.title}}_Constraints.xml" target="_blank"><img src="resources/static/images/get.png">{{artifact.title}}_Constraints.xml</a>
                            </td>

                        </tr>
                        
                    </tbody>
                </table> </div>
                
                <div ng-show="compareToDomainss(artifact.domain)==true">
                    <a href="resources/static/Artifact/{{artifact.domain}}/ss.zip">  <button title="Download All" type="button" class="btn btn-sm btn-info ng-binding ng-scope">
                        <i class="fa fa-download"></i>
                        Download All Artifacts (.zip)
                    </button></a>
                    <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Value sets</th>
                            <th>Constraints</th>
                      
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <td class="getLogo">
                                <a href="resources/static/Artifact/{{artifact.domain}}/Profile.xml" target="_blank"><img src="resources/static/images/get.png"/> {{artifact.title}}_Profile.xml</a>
                            </td>
                            <td class="getLogo">
                         
                                <a href="resources/static/Artifact/{{artifact.domain}}/ValueSetLibrary_SS_CF.xml" target="_blank"><img src="resources/static/images/get.png"/> ValueSetLibrary_SS_CF.xml</a></li>
                              
                            </td>
                            <td class="getLogo">
                                <a href="resources/static/Artifact/{{artifact.domain}}/Constraints.xml" target="_blank"><img src="resources/static/images/get.png">Constraints.xml</a>
                            </td>

                        </tr>
                        
                    </tbody>
                </table>
                          </div>   
            </uib-accordion-group>
        </uib-accordion>
  </div>
</div>
</div>
</div>

          <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Schemas</h3>
  </div>
  
      <div class="panel-body">
    <uib-accordion >
            <uib-accordion-group  ng-repeat= "domain in schemaDomain " is-open="domain.open">
            <uib-accordion-heading>
            
           
            <div class=row>
            <div class= "col-md-6">   <i class="glyphicon" ng-class="{'glyphicon-chevron-down': domain.open, 'glyphicon-chevron-right': !doamain.open}"> </i>  <strong>{{domain.title}}   </strong> </div>
              <div class= "col-md-6" style=" color:black;font-size:12px;">   
            </div>

                   </div>
                 
      </uib-accordion-heading>
<table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat= "schema in domain.schemas" >
                           <td >
                          {{schema.description}} 
                            </td>
                            
                    
                            <td>
                                <a href="resources/static/schemas/{{schema.source}}.xml"> {{schema.source}}</a>
                            </td>

                        </tr>
                        
                    </tbody>
                </table>


       </uib-accordion-group>
       
         <uib-accordion>
      </div>

   </div>






		<footer id="footer" style= "border-top:2px solid;" >
			<a href="http://www.nist.gov" target="_blank"><img
				src="resources/static/images/logo_nist.gif" alt="NIST Logo"></a> <a
				href="http://www.itl.nist.gov/" target="_blank"><img
				src="resources/static/images/itl-logo.jpg" alt="NIST ITL Logo"></a>
			<div style="text-align: right;">
				<p>
					<a href="http://www.nist.gov/public_affairs/disclaimer.cfm"
						target="_blank" title="View Disclaimer">Disclaimer</a> | <a
						href="mailto:haffo[at]nist[dot]gov"
						title="Email Website Administrator: rochb">Email Website
						Administrator</a> | <a
						href="http://www.nist.gov/public_affairs/privacy.htm"
						target="_blank" title="View Privacy Policy">Privacy/Policy</a>
				</p>
			</div>
		</footer>


</div>

