<div class="ui-view-container well">





<div class="panel panel-info">
  <div class="panel-heading"> <h4><strong>Welcome to the NIST HL7 V2 Resource Portal!</strong></h4></div>
 <div class= " col-md-12">
<br/> 
 NIST provides a number of tools and utilities in support of the HL7 v2.x messaging standard. Conformance testing tools include web applications and web services for validating HL7 v2.x message instances based on message profiles. The foundation of the tool kit is a set of Java APIs that supports testing activities such as automated message generation and message validation. The APIs are organized as a testing framework which can be used to build tools such as web services and web applications. NIST provides the testing tools via these portal or the utilities can be incorporated into 3rd party applications and testing environments. Additionally, NIST is in the process of developing productivity tools to support the creation of HL7 v2 implementation guides (including the message profiles) and to develop test plans (i.e., creating test cases based on message profiles). This site provides access to the NIST HL7 v2 Toolkit.<br/>

<br/><br/><br/></div>
  
  <div class="panel-body">
  <div class=row>
	<a ui-sref="tools" ng-click="setActive(1)">
	<div class="col-md-3 ">
	<div class="panel panel-default fixheight">
  	<div class="panel-heading heading">
    <h3 class="panel-title"> <strong>TOOLS</strong></h3>
  </div>
  <div class="panel-body">
<div class="row">
   	<img src="resources/static/images/Administrative Tools Filled-100.png" class= "col-md-6">
   	 <div class= "col-md-6">
    <p> Explore NIST HL7 V2 Tools here:
   			<div>
   			</br>  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Testing Tools
   			 </br> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Profile Generation
   			 </br> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Test Case Generation
   			 </br> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Web Services
   			</div>
   </p>
    </div>	
    </div>
  </div>
</div>
</div>
</a>
<a ui-sref="publications" ng-click="setActive(2)">
<div class="col-md-3 ">
	<div class="panel panel-default fixheight">
  	<div class="panel-heading heading">
    <h3 class="panel-title"><strong>PUBLICATIONS</strong> </h3>
  </div>
  <div class="panel-body">
<div class="row">
   	<img src= "resources/static/images/Paper Filled-100.png" class= "col-md-6">
   	 <div class= "col-md-6">
   <p>Explore NIST HL7 V2 Publications here:
   			<div>
   			<br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Papers
   			 <br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Presentations and Talks
   			 </br><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Tutorials
   			</div>
   </p>
    </div>	
    </div>
  </div>
</div>
</div>
</a>
<a ui-sref="resources" ng-click="setActive(3)">
<div class="col-md-3">
	<div class="panel panel-default fixheight">
  	<div class="panel-heading heading">
    <h3 class="panel-title"> <strong>RESOURCES</strong></h3>
  </div>
  <div class="panel-body">
<div class="row">
   	<img src="resources/static/images/Add Database-104.png" class= "col-md-6">
   	 <div class= "col-md-6">
   <p>Explore NIST HL7 V2 Resources here:
   			<div>
   			<br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Profiles
   			 <br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Profile Schemas
   			 <br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Value Set Libraries
   			 <br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Value Set Schemas
   			</div>
   </p>
    </div>	
    </div>
  </div>
</div>
</div>
</a>
<a ui-sref="sourcecodes" ng-click="setActive(1)">
<div class="col-md-3 ">
	<div class="panel panel-default fixheight">
  	<div class="panel-heading heading">
    <h3 class="panel-title"><strong>SOURCE CODE</strong></h3>
  </div>
  <div class="panel-body">
<div class="row">
   	<img src= "resources/static/images/Code Filled-100.png" class= "col-md-6">
   	 <div class= "col-md-6">
   <p>Access NIST HL7 V2 Source Code here:</p>
   
   <div>
   			<br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Testing Framework
   			<br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Validation Tools
   			<br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Productivity Tools
   			<br/><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>APIs
   			</div>
    </div>	
    </div>
  </div>
</div>
</div>

</a>

</div>
  </div>
</div>

  <div id="footer" class="ng-scope" style="border-top:1px solid;">

        <table>
        <tbody>
        <tr>
            <td class="box col-md-1">
                     <a href="http://www.nist.gov" target="_blank"><img class="footerImage" src="resources/static/images/nist_logo.gif" alt="The NIST Logo" title="The NIST Logo"></a>
            </td>

            <td class="box col-md-3">
                <div>
                    <h5>Application Information</h5>
                    <span class="ng-binding">Date: 04/01/2016 </span>
                    <br/><span class="ng-binding">Application Version: 1.0</span>
               
                </div>
            </td>

            <td class="box col-md-3">
                <div>
                    <h5>Supported Browsers</h5>
                    <span><i class="fa fa-firefox"></i> Firefox, <i class="fa fa-chrome"></i> Chrome, <i class="fa fa-safari"></i>
Safari, <i class="fa fa-internet-explorer"></i> IE 9 and 10</span>
                </div>
            </td>

            <td class="box col-md-4">
                <div>
                    <h5>External Links</h5>
                    <a class="footer-link" href="http://www.nist.gov/public_affairs/disclaimer.cfm" target="_blank" title="View Disclaimer">Disclaimer</a> |
                        <a class="footer-link" href="http://www.nist.gov/public_affairs/privacy.cfm#privpolicy" target="_blank" title="View Privacy Policy">Privacy/Policy</a>|
                         <a class="footer-link" ng-href="mailto:robert.snelick@nist.gov" title="Email Website Administrator @: robert.snelick@nist.gov" href="mailto:robert.snelick@nist.gov">Website Administrator</a>
                 </div>
            </td>

            <td class="box col-md-2">
                <a href="http://www.itl.nist.gov" target="_blank"><img class="footerImage" src="resources/static/images/itl-logo.jpg" alt="ITL Logo" title="ITL Logo"></a>
            </td>

        </tr>
        </tbody>

</table>
 </div>

</div>


