<div class=" ui-view-container  well ">
	
	
	
	
	
	
	
	
	
	
<div class="panel panel-info">
  <div class="panel-heading"> <h3><strong>Source Code</strong></h3></div>
  <div class="panel-body">
   	<div>
	
		<div style="margin-right: 100px;" class="input-group col-md-2">
			<span class="input-group-addon" id="basic-addon1"> 
			<span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
			</span> <input type="text" ng-model="sort.title" class="form-control"></input>
		</div>
		<div>
			<uib-accordion> 
			<uib-accordion-group ng-repeat="tool in tools| filter: sort" heading={{tool.title}} >
			
			<img
				src="resources/static/images/github.png" alt="github">
				<strong>github :</strong> <a href=" https://github.com/haffo/hit-iz-tool"> code repository </a>
			</uib-accordion-group>
			</uib-accordion>
		</div>
	</div>
  </div>
</div>
			<footer id="footer" style= "border-top:2px solid;" >
			<a href="http://www.nist.gov" target="_blank"><img
				src="resources/static/images/logo_nist.gif" alt="NIST Logo"></a> <a
				href="http://www.itl.nist.gov/" target="_blank"><img
				src="resources/static/images/itl-logo.jpg" alt="NIST ITL Logo"></a>
			<div style="text-align: right;">
				<p>
					<a href="http://www.nist.gov/public_affairs/disclaimer.cfm"
						target="_blank" title="View Disclaimer">Disclaimer</a> | <a
						href="mailto:haffo[at]nist[dot]gov"
						title="Email Website Administrator: rochb">Email Website
						Administrator</a> | <a
						href="http://www.nist.gov/public_affairs/privacy.htm"
						target="_blank" title="View Privacy Policy">Privacy/Policy</a>
				</p>
			</div>
		</footer>
	
	

</div>