<div class=" ui-view-container  well " >

<div class="panel panel-info">
  <div class="panel-heading"> <h3><strong> Publications</strong></h3></div>
  <div class="panel-body">
        
     
        <uib-accordion>
            <uib-accordion-group heading='Papers' is-open="true">
                <br>

                
                <table class="table table-hover table-striped">
                    <thead class="table-info" >
                        <tr>
                            <th>title</th>
                            <th>date</th>
                            <th>authors</th>
                            <th>publication</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="paper in papers">
                           <td >
                     <a class="link" href="resources/static/papers/{{paper.link}}">{{paper.title}} </a>
                            </td>
                            <td >
                           {{paper.publication_date}}
                            </td>
                        
                            <td>
                            {{paper.author}}
                            </td>
                            <td>
                         {{paper.place}}
                        
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                
                
                
                
      
            </uib-accordion-group>
            <uib-accordion-group heading='Presentations'>
                <br/>

                
 <table class="table table-hover table-striped">
                    <thead class="table-info" >
                        <tr>
                            <th>title</th>
                            <th>date</th>
                            <th>authors</th>
                            <th>publication</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="presentation in presentations">
                           <td >
                     <a class="link" href="resources/static/slides/{{presentation.link}}">      {{presentation.title}} </a>
                            </td>
                            <td >
                             {{presentation.publication_date}}
                            </td>
                        
                            <td>
                            {{presentation.author}}
                            </td>
                            <td>
                         {{presentation.place}} National institute of standards and technology
                        
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </uib-accordion-group>

        </uib-accordion>
  </div>
</div>
		<footer id="footer" style= "border-top:2px solid;" >
			<a href="http://www.nist.gov" target="_blank"><img
				src="resources/static/images/logo_nist.gif" alt="NIST Logo"></a> <a
				href="http://www.itl.nist.gov/" target="_blank"><img
				src="resources/static/images/itl-logo.jpg" alt="NIST ITL Logo"></a>
			<div style="text-align: right;">
				<p>
					<a href="http://www.nist.gov/public_affairs/disclaimer.cfm"
						target="_blank" title="View Disclaimer">Disclaimer</a> | <a
						href="mailto:haffo[at]nist[dot]gov"
						title="Email Website Administrator: rochb">Email Website
						Administrator</a> | <a
						href="http://www.nist.gov/public_affairs/privacy.htm"
						target="_blank" title="View Privacy Policy">Privacy/Policy</a>
				</p>
			</div>
		</footer>
        
  
  </div>