<div class=" ui-view-container  well " >



<div class="panel panel-info">
  <div class="panel-heading"><h4>Tools</h4></div>
  <div class="panel-body">
        <div class= "row ">
    <select class= "Select col-md-6 " ng-model="cat.categorie" >
        <option value='' >Choose category</option>
        <option value='ONC Certification Related Tools'>ONC Certification Related Tools</option>
         <option value='IHE Related Tools'>IHE Related Tools</option>
        <option value='Laboratory Reporting Related Tools'>Laboratory Reporting Related Tools</option>
        <option value='Productivity Tools'>Productivity Tools</option>
    </select>
    
<!--     {{categorie}} -->
<!-- <!--     <label> --> 
<!-- <!--     <input type="radio" ng-model="activity" value="Active" > --> 
<!-- <!--     Active --> 
<!-- <!--   </label> --> 
<!-- <!--   <label> --> 
<!-- <!--     <input type="radio" ng-model="activity" value="Archived" > --> 
<!-- <!--     Archived --> 
<!-- <!--   </label> --> 
<!-- <!--   <label> --> 
<!-- <!--     <input type="radio" ng-model="activity" value="in developpement"  > --> 
<!-- <!--    in developpement --> 
<!-- <!--   </label> --> 



  <div  class="input-group col-md-2 col-xs-offset-1">
  <span class="input-group-addon" id="basic-addon1">
  <span class="glyphicon glyphicon-search" aria-hidden="true" ></span></span>
  <input type= "text" ng-model ="sort.title" class="form-control"></input> </div>
 </div>
	<div class="row toolsboxes">
		<div class="box1 col-md-6" ng-repeat="tool in tools | filter : cat| filter: sort|startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage ">
			<a href={{tool.link}}>	
			<div class="boxhead">
			<span style="font-size: 20px; font-weight: bold; color: white;">{{tool.title}}</span>
			</div></a>
			<div class="row">
		
		<a href={{tool.link}}>	<div class="col-md-6 col-xs-offset-4">
		
			</div> </a>
			
			
				<div class="col-md-1" > 
				
				<span class = "glyphicon glyphicon-info-sign info" ng-click="open(tool)" style="color: #f3c60d;
    font-size: 24px;
   "/> 
				 </div>

			</div>

		</div>

	</div>




        <nav>

    <ul class="pager">
        <li><a  ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</a></li>
        <li><a  ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</a></li> 

    </ul>

        </nav>
  </div>
</div>



<!--   <div > -->
<!-- 	<div  style="display : inline;"> -->


</div>

<script type="text/ng-template" id="myModalContent.html">
<div class="panel panel-warning">
  <div class="panel-heading"><h2>{{tool.title}}</h2></div>
  <div class="panel-body">
   <div >
	

	
	<p ng-bind-html="tool.description |sanitize"></p>
	<hr />
		<h4>last update:</h4>
	{{tool.last_update}}
		<hr/>
		<h4>current version: {{tool.version}}</h4>
		<hr/>
		<h4>status: {{tool.activity}}</h4>
		<hr/>
		<h4>category: {{tool.categorie}}</h4>
		<h4>conforamce profiles</h4>
		{{tool.contact}}
		<hr/>
 		see more: {{tool.link}}
	</div>
  </div>
</div>

</script>
