<div class=" ui-view-container  well " >



<div class="panel panel-info">
  <div class="panel-heading"><h3><strong> HL7 V2 Tools</strong></h3></div>
  <div class="panel-body">
        <div class= "row ">
    <select class= "Select col-md-6 " ng-model="cat.categorie" ng-click="FilterTools(tools)" >
        <option value='' >All Tools</option>
        <option value='ONC Certification Related Tools' ng-click="pagination.toPageId(0)">ONC Certification Related Tools</option>
         <option value='IHE Related Tools'>IHE Related Tools</option>
        <option value='Laboratory Reporting Related Tools'>Laboratory Reporting Related Tools</option>
        <option value='Productivity Tools'>Productivity Tools</option>
    </select>
    
<!--     {{categorie}} -->
<!-- <!--     <label> --> 
<!-- <!--     <input type="radio" ng-model="activity" value="Active" > --> 
<!-- <!--     Active --> 
<!-- <!--   </label> --> 
<!-- <!--   <label> --> 
<!-- <!--     <input type="radio" ng-model="activity" value="Archived" > --> 
<!-- <!--     Archived --> 
<!-- <!--   </label> --> 
<!-- <!--   <label> --> 
<!-- <!--     <input type="radio" ng-model="activity" value="in developpement"  > --> 
<!-- <!--    in developpement --> 
<!-- <!--   </label> --> 



  <div  class="input-group col-md-2 col-xs-offset-1">
  <span class="input-group-addon" id="basic-addon1">
  <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
  </span>
  <input type= "text" ng-model ="sort.title" class="form-control"></input> </div>
 </div>
 
	<div class="row toolsboxes">
		<div class="box1 col-md-2" ng-repeat="tool in tools | filter : cat| filter: sort|startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage ">
			<a href={{tool.link}}>	
			<div class="boxhead">
			<span style="font-size: 20px; color: white;">
			<p ng-bind-html="tool.html_title |sanitize"></p>
			</span>
			</div></a>
			<div class="row">
		
		<a href={{tool.link}}>	<div class="col-md-6 col-xs-offset-4">
		
			</div> </a>
			
			
				<div class="col-md-1" > 
				
	<span class = "glyphicon glyphicon-info-sign info" ng-click="open(tool)"/> 
				 </div>

			</div>

		</div>

	</div>




        <nav>

<!--     <ul class="pager"> -->
<!--         <li><a  ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</a></li> -->
<!--         <li><a  ng-click="pagination.nextPage()" ng-hide="Nexthide()">Next</a></li>  -->

<!--     </ul> -->
    
    
    <ul class="pager">
<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
  <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
  <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
  </li>
  <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
</ul>

        </nav>
  </div>
</div>


<a></a>
<!--   <div > -->
<!-- 	<div  style="display : inline;"> -->

<hr/>
		<footer id="footer" style= "border-top:2px solid;" >
			<a href="http://www.nist.gov" target="_blank"><img
				src="resources/static/images/logo_nist.gif" alt="NIST Logo"></a> <a
				href="http://www.itl.nist.gov/" target="_blank"><img
				src="resources/static/images/itl-logo.jpg" alt="NIST ITL Logo"></a>
			<div style="text-align: right;">
				<p>
					<a href="http://www.nist.gov/public_affairs/disclaimer.cfm"
						target="_blank" title="View Disclaimer">Disclaimer</a> | <a
						href="mailto:haffo[at]nist[dot]gov"
						title="Email Website Administrator: rochb">Email Website
						Administrator</a> | <a
						href="http://www.nist.gov/public_affairs/privacy.htm"
						target="_blank" title="View Privacy Policy">Privacy/Policy</a>
				</p>
			</div>
		</footer>

</div> 


<script type="text/ng-template" id="myModalContent.html">

<div class="panel panel-info ">
	<div class="panel-heading">
		<h2 ng-bind-html="tool.title |sanitize"></h2>
	</div>
	<div class="panel-body" style=" overflow-y: scroll;">



		<p ng-bind-html="tool.description |sanitize"></p>
		<hr />
		<h4>Specification</h4>
		{{tool.spec}}
		<hr />
		<h4>Last Update:</h4>
		{{tool.last_update}}
		<hr />
		<h4>Current Version: {{tool.version}}</h4>
		<hr />
		<h4>Use: {{tool.categorie}}</h4>
		<hr />
		<h4>Status: {{tool.activity}}</h4>
		<hr />
		<h4>Conformance profiles</h4>
		<div class="conformace">
		<ul>
			<li ng-repeat="profil in tool.profiles">{{profil}}</li>
		</ul>
		</div>
		<hr />
		See more: <a href={{tool.link}} target="_blank"> <span
			style="font-size: 18px;">{{tool.link}} </span></a>

		<div class="modal-footer">
			<button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
		</div>
	</div>

</div>
</script>
